@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: green;
  display: flex;
  flex-direction: column;
  
}
article {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu {
  background: red;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}

img.logo {
  color: white;
  font-size: 35px;
  width: 10%;
  max-width: 50px;
}

#menu #menuList {
  float: right;
  margin-right: 20px;
}

#menu #menuList li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

#menu #menuList li a {
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
}

a.active,
a:hover {
  background-color: lightgray;
  transition: 0.2s;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  cursor: pointer;
  display: none;
}

#uName {
  font-size: 1.1em;
}

#check {
  display: none;
}
  /*FOOTER*/
  footer  {
    background-color: yellow;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-top: auto;
    position: fixed;
  }
  footer ul li{
    display: inline-block;
    padding-top: 17px;
  }
  



@media (max-width: 768px) {

  /*MENU*/
  .checkbtn {
    display: block;
  }
  footer {
    display: none;
  }
  #menuList {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: darkblue;
    top: 60px;
    left: -100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    z-index: 10;
  }

  #menu #menuList li {
    display: block;
    padding-top: 60px;
  }
  .close {
    display: none;
  }
  #menu #menuList li a {
    font-size: 1.5em;
  }

  #check:checked~#menuList {
    left: 0;
  }
  #check:checked~.close {
    display: inline;  
  }
  #check:checked~.open {
    display: none;  
  }
  footer ul li {
    text-align: center;
  }
  #eventInfo {
    background-color: pink;
    width: 90%;
    height: 90vw;
    min-height: 135px;
    margin-top: 5%;
    border-radius: 5px;
    overflow: auto;
  }
 
  #eventHistory{
    background-color: brown;
    width: 100%;
    height: 45px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  .eventDesc {
    display: none;
  }
  .event{
    width: 100%;
    height: 45px;
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  .eventDate {
    padding-left: 5%;
  }
  .eventName {
    padding-right: 5%;
  }
  /*Añadir eventos*/
  #addEvent {
    background-color: pink;
    width: 90%;
    min-height: 140px;
    margin-top: 5%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  #datePicker {
    appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 12px;
    border: 1px solid black; 
    background:none;
    padding: 5px;
    width: 40%;
    height: 40px;
    margin: 5% 5% 0 5%;
  }
  #addEventName {
    margin: 5% 5% 0 5%;
    width: 40%;
    height: 40px;
  }
  #addEventDescription {
    width: 90%;
    margin: 5%;
    height: 15vw;
  }
  #addButton {
    width: 90%;
    margin: 0 5% 5% 5%;
    height: 40px;
  }
  #eventTitle{
    display: none;
  }
}
@media (min-width: 768px) {
  article {
    flex-direction: row;
    justify-content: space-around;
  }

  #eventInfo {
    background-color: pink;
    width: 90%;
    height: 60%;
    min-height: 135px;
    margin: 3%;
    border-radius: 5px;
    overflow: auto;
  }
  #menu{
    position: fixed;
  }
  #eventHistory {
    background-color: brown;
    width: 100%;
    height: 45px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
  }

  .eventDesc {
    padding: 3%;
  }

  .event {
    width: 100%;
    height: 45px;
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

  .eventDate {
    padding-left: 2%;
  }

  .eventName {
    padding-right: 0px;
  }

  /*Añadir eventos*/
  #addEvent {
    background-color: pink;
    width: 90%;
    height: 60%;
    min-height: 140px;
    margin: 3%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;

  }

  #datePicker {
    appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 12px;
    border: 1px solid black;
    background: none;
    padding: 5px;
    width: 40%;
    height: 40px;
    margin-left: 5%;
    margin-top: 5%;

  }

  #nm, #pw {
    margin: 5% 5% 0 5%;
    width: 40%;
    height: 40px;
  }

  #btnAddUsu {
    width: 90%;
    margin: 0 5% 5% 5%;
    height: 40px;
  }

  #addEventName {
    width: 40%;
    height: 40px;
    margin-left: 10%;
    margin-top: 5%;
  }

  #addEventDescription {
    width: 90%;
    margin: 5%;
    height: 15vw;
  }

  #addButton {
    width: 90%;
    margin: 0 5% 5% 5%;
    height: 40px;
  }

  .title{
    width: 100%;
    background: #a52a2a;
    height: 45px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 1.3em;
    padding: 9px;
  }
}
