<<<<<<< HEAD
*{
	max-width: 100vw;
	margin: 0;
	padding: 0;

}

#menu{
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
#logo{
	width: 100px;
	height: 95px;
	/*border-radius: 60%;
	border: 2px solid black;posibilidad*/
	overflow: hidden;
	margin: 15px;
}
#logo img{
	width: 100%;
	height: 100%;
}
nav ul{
	list-style-type: none;
	display: none;
	position: absolute;
	left: 0px;
	top: 125px;
	background: #000000d9; 
	width: 100vw;
	height: 100vh;
	font-size: 80px;


}
nav ul li{
	padding-top: 15px;
	padding-bottom: 10px;
	text-decoration: none;
	font-family:'Roboto', sans-serif;
	color:#007DFF;
	border-bottom:2px solid #ccc;
	text-align: center;

	
}
nav ul li a{
	padding-bottom: 10px;
	text-decoration: none;
	font-family:'Roboto', sans-serif;
	color:#007DFF;
	padding-top: 15px;
	text-align: center;
	
}

button{     
	background: transparent;    
	border: none;     
	width: 70px;     
	height: 70px;     
	padding: 0;     
	margin: 0; 
}
button img  {
    margin-left: 15px;     
    width: 100%;     
    height: 100%; 
}
button:focus + nav ul {
=======
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  background-color: green;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#menu {
  background: red;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center
}
label.logo {
  color: white;
  font-size: 35px;
}
#menu #menuList {
  float: right;
  margin-right: 20px;
}
#menu #menuList li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
#menu #menuList li a {
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
}
a.active,
a:hover {
  background-color: lightgray;
  transition: 0.2s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 768px) {
	/*MENU*/
	.checkbtn {
>>>>>>> cssLayout
    display: block;
  }
  #menuList {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: darkblue;
    top: 80px;
    left: -100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
  }
  #menu #menuList li {
    display: block;
    padding-top: 60px;
  }
  #menu #menuList li a {
    font-size: 1.5em;
  }
  #check:checked ~ #menuList {
    left: 0;
  }
  /*FOOTER*/
  footer {
	  background-color: yellow;
	  width: 100%;
	  height: 60px;
	  display: flex;
	  justify-content: center;
	  bottom: 0;
	  margin-top: auto;
  }
  footer ul {
  }
  footer ul li {
	  text-align: center;
  }
}
